.profileImage {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}


.myBlogButtonDiv {
    
    margin-top: 2rem;
    padding: 10px;
}
.myBlogPostDiv{
    margin-top: -1rem;
}
.button-custom {
    border-color: #f2d5b6 !important;
    color: grey !important;
  }
  
.button-custom:hover {
    background-color: #f2d5b6 !important;
    color: #fff !important;
}

.profile > div {
    margin-bottom: 10px;
}

.bio {
    border-top: 1px solid #E2D9D1;
    border-bottom: 1px solid #E2D9D1;
    padding: 8px 0;
    height: 100px;
    overflow: auto;
}

.topContainer{
    max-height: 30%
}