
.blog-text {
  letter-spacing: 0.8px;
  font-weight: 300;
  font-size: 1.1rem;
    
  }

.blogTitle {
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 3rem;
}

.userNameDiv {
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1rem;
}

.divideComment {
  margin: 3rem 0;
}