.comment-card {
    padding: 15px;
    border-bottom: 1px solid #f0e2d3;
    width: 500px;
    margin-bottom: 20px;
}
.comment-user {
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: left;

}
.comment-text {
    text-align: left;
}

  .comment-actions {
    text-align: right;
  }
  
  .comment-card:hover .comment-actions {
    display: block;
  }
  

  .button-custom {
    border-color: #f2d5b6 !important;
    color: grey !important;
  }
  
.button-custom:hover {
    background-color: #f2d5b6 !important;
    color: #fff !important;
}
